@media (max-width: 768px) {
    #map {
      width: 100%;
      height: 200px;
    }
    
    @media (min-width: 769px) {
    #map {
      width: 100%;
      height: 400px;
    }
  }
  
  }
  
  @media (max-width: 480px) {
    /* Stili per schermi fino a 480px di larghezza */
  }
  
  @media screen and (max-width: 768px) 
  {}
  
  h1 {
      color: #851064; /* Colore viola */
      font-size: 50px; /* Dimensione del carattere */
      font-weight: 600; /* Carattere in grassetto */
      margin-left: 20px;
      text-align: center;
      padding-top: 10PX;
      padding-bottom: 5PX ;
      font-family: Impact, Charcoal, sans-serif;
    }
    
    body {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
      }
    
      body {
    background-color: black;
    }
    
      .header {
        background-color: black;
        color: rgb(0, 0, 0);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px;
    
      }
  
      .logo {
          width: 280px;
          height: auto;
        }
      
        /* MENU NUOVO */
      
      .menu-toggle {
        color:#851064;
        font-size: 40px;
        cursor: pointer;
        position: sticky;
      }
      
      
      .menu-items {
        display: none;
        flex-direction: column;
        align-items: flex-end;
        margin: 0;
        padding: 0;
      }
      
      .menu.open .menu-items {
        display: flex;
      }
      
      .menu-items li {
        list-style: none;
        margin-bottom: 10px;
      }
      
      .menu-items a {
        color: #851064;
        text-decoration: none;
        font-size: 30px;
        font-weight: bold; 
      }
  
      @media (max-width: 768px) {
          /* Stili per schermi fino a 768px di larghezza */
          }
          
          @media (max-width: 480px) {
          /* Stili per schermi fino a 480px di larghezza */
          }
          
          
          nav ul li {
            display: inline-block;
            margin-right: 10px;
          }
          
          nav ul li a {
            color: #f70099;
            text-decoration: none;
            transition: color 0.3s ease;
          }
          
          nav ul li a:hover {
            color: #ffffff; /* Cambia il colore al passaggio del mouse */
            font-weight: bold; /* Cambia lo stile del testo al passaggio del mouse */
          }
          
          
            
           /* MENU NUOVO */
  
  
  
           /* GIF */
  
           section {
              display: flex;
              flex-wrap: wrap;
          }
  
          .content-section {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 100vh;
            }
  
            .responsive-gif {
              max-width: 100%;
              height: auto;
            }
  
            .gif-content {
              position: relative;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: -1;
              object-fit: cover;
            }
  
            .text-section
          {
              color: white;
          background-color: black;
          font-family: 'roboto', sans-serif;
          font-size: 23px;
          padding-left: 5px;
          padding-right: 5px;
        }
  
        .text-section {
          width: 80%;
        
          margin: 0 auto;
          padding: 20px;
          background-color: #000000;
          border: 1px solid black;
        }
  
        .text-section {
          display: flex;
          padding: 0 20px; /* Imposta il padding desiderato tra le due colonne */
          margin-left: 5px;
          margin-right: 5px;
  
        
    flex-wrap: wrap; /* Aggiungi questa proprietà per il wrap delle colonne */
    
  }
  
        
        
        .colonna1 .colonna2 {
          flex: 1;
          padding: 0px;
          flex-direction: column;
          width: 100%;
        }
  
        .colonna1 {
          width: 80%;
          max-width: 100%;
          float: left;
          background-color: #000000;
       
        }
  
        .colonna2 {
          width: 10%;
          max-width: 100%;
          float: right;
         
              display: flex;
              justify-content: center;
              align-items: center; 
            
        }
        
     
        .text-section::after {
          content: "";
          display: table;
          clear: both;
          max-width: 100%; /* Imposta la larghezza massima per l'immagine */
    height: auto; 
        }
  
        .image-section {
          
              width: 50%;
              padding: 0 20px;
              text-align: center;
              text-size-adjust: 50%;
              max-width: 100%;
              height: auto;
              width: 500px; 
              max-width: 100%;
        }
  
        /* Media query per il ridimensionamento */
  @media (max-width: 768px) {
      .text-section {
        flex-direction: column; /* Imposta le colonne una sotto l'altra */
      }
    
      .colonna1 .colonna2 {
        width: 100%; /* Imposta la larghezza al 100% per occupare l'intera larghezza della pagina */
      }
    }
  
    .footer {
      background-color: #440147;
      color: white;
      padding: 15px;
      text-align: center !important;
      max-width: 100%;
    }
  
    .footer {
  text-align: center;
  color: #fff;
  }
  
  .social-links {
  list-style: none;
  padding: 20px;
  margin: 15px;
  
  text-align: center !important;
  }
  
  .social-links li {
  display: inline-block;
  margin: 0 30px;
  }
  
  .social-icon {
    /* Stili di base */
    font-size: 27px;
    transition: color 0.3s; /* Transizione del colore */
    color: #ffffff;
  }
  
  .social-icon:hover {
    /* Stili quando il mouse ci passa sopra */
    color: rgb(179, 0, 255); /* Esempio: cambio colore in rosso */
  }
  
  
    nav ul li {
  display: inline-block;
  margin-right: 10px;
  }
  
  nav ul li a {
  color: #f70099;
  text-decoration: none;
  text-align: center;
  transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
  color: #ffffff; /* Cambia il colore al passaggio del mouse */
  font-weight: bold; /* Cambia lo stile del testo al passaggio del mouse */
  }